.header-toolbar {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    .title {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
    }
}

.secondary-text {
    font-size: 14px;
    color: #FDA2C6;
}

ion-item {
    --background: transparent;
    --border-color: var(--ion-color-secondary, #FDA2C6);

    &.list-item {
        --border-color: var(--ion-color-medium, #989aa2);
    }

    &.search-item {
        border-color: #ffffff;
        background-color: #EDEDED;
    }
}

.error-msg {
    text-align: left;
    font-size: 12px;
}

.photo-btn {

    ion-icon {
        margin-left: auto;
    }
}