.header-toolbar {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    .title {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
    }
}

.doc-btn {

    ion-icon {
      margin-left: auto;
    }
}