<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="ion-no-border header-toolbar">
    <ion-buttons color="dark" slot="start">
      <ion-back-button defaultHref="/customer-search"></ion-back-button>
    </ion-buttons>

    <ion-title color="light" class="title ion-text-center ion-padding-vertical">Initial Assesment Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider>
    <ion-label color="medium">Bssic Info:</ion-label>
  </ion-item-divider>

  <ion-grid>

    <ion-row>
      <ion-label color="tertiary">Customer Id:</ion-label>
    </ion-row>
    <ion-row>
      <ion-input color="dark" class="ion-text-start" type="text" value="{{customerInfo?.CustomerId}}" name="CustomerId"
        readonly>
      </ion-input>
    </ion-row>

    <ion-row>
      <ion-label color="tertiary">Full Name:</ion-label>
    </ion-row>
    <ion-row>
      <ion-input color="dark" class="ion-text-start" type="text" value="{{customerInfo?.FullName}}" name="FullName"
        readonly>
      </ion-input>
    </ion-row>

    <ion-row>
      <ion-label color="tertiary">Gendar:</ion-label>
    </ion-row>
    <ion-row>
      <ion-input *ngIf="customerInfo?.Gender == 'M' || customerInfo?.Gender == 'Male'" color="dark"
        class="ion-text-start" type="text" value="Male" name="Gender" readonly></ion-input>
      <ion-input *ngIf="customerInfo?.Gender == 'F' || customerInfo?.Gender == 'Female'" color="dark"
        class="ion-text-start" type="text" value="Female" name="Gender" readonly></ion-input>
    </ion-row>

    <ion-row>
      <ion-label color="tertiary">Email:</ion-label>
    </ion-row>
    <ion-row>
      <ion-input color="dark" class="ion-text-start" type="text" value="{{customerInfo?.Email}}" name="Email" readonly>
      </ion-input>
    </ion-row>

    <ion-row *ngIf="customerInfo?.Address">
      <ion-label color="tertiary">Address:</ion-label>
    </ion-row>
    <ion-row *ngIf="customerInfo?.Address">
      <ion-textarea rows="1" class="ion-text-start" type="text" value="{{customerInfo?.Address}}" name="Address"
        readonly>
      </ion-textarea>
    </ion-row>

  </ion-grid>

  <ion-item-divider>
    <ion-label color="medium">Required Info:</ion-label>
  </ion-item-divider>

  <form (ngSubmit)="initConcentForm.form.valid && onAddNewInitConcent()" #initConcentForm="ngForm">

    <ion-text color="primary">
      <h4>Medical History</h4>
    </ion-text>

    <ion-list>

      <ion-item>
        <ion-label>Diabetes:</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsDiabetes" name="IsDiabetes"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Hypertension:</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsHypertension" name="IsHypertension"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Heart Disease:</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsHeartDisease" name="IsHeartDisease"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Asthma:</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsAsthma" name="IsAsthma"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Sinusitis:</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsSinusitis" name="IsSinusitis"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Hyperlipidemia:</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsHyperlipidemia" name="IsHyperlipidemia"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Other (Please Specify):</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsOther" name="IsOther"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="initConcentSaveRequest.IsOther">
        <ion-row>
          <ion-label color="dark">Other Diseases:</ion-label>
        </ion-row>
      </ion-item>
      <ion-row *ngIf="initConcentSaveRequest.IsOther">
        <ion-textarea rows="1" class="ion-text-start" type="text" [(ngModel)]="initConcentSaveRequest.OtherDiseases"
          name="OtherDiseases" #OtherDiseases="ngModel" required></ion-textarea>
      </ion-row>

      <ion-row
        *ngIf="initConcentForm.submitted && initConcentSaveRequest.IsOther && !initConcentSaveRequest.OtherDiseases">
        <ion-label class="error-msg">* Other Diseases are required.</ion-label>
      </ion-row>


      <ion-item>
        <ion-label>Surgical History? (If yes, please Specify):</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsSurgical" name="IsSurgical"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="initConcentSaveRequest.IsSurgical">
        <ion-row>
          <ion-label color="dark">Surgical History:</ion-label>
        </ion-row>
      </ion-item>

      <ion-row *ngIf="initConcentSaveRequest.IsSurgical">
        <ion-textarea rows="1" class="ion-text-start" type="text" [(ngModel)]="initConcentSaveRequest.SurgicalHistory"
          name="SurgicalHistory" #SurgicalHistory="ngModel" required></ion-textarea>
      </ion-row>

      <ion-row
        *ngIf="initConcentForm.submitted && initConcentSaveRequest.IsSurgical && !initConcentSaveRequest.SurgicalHistory">
        <ion-label class="error-msg">* Surgical History is required.</ion-label>
      </ion-row>

      <ion-item>
        <ion-row>
          <ion-label color="dark">Current Medication:</ion-label>
        </ion-row>
      </ion-item>

      <ion-row>
        <ion-textarea rows="1" class="ion-text-start" type="text" [(ngModel)]="initConcentSaveRequest.CurrentMedication"
          name="CurrentMedication"></ion-textarea>
      </ion-row>

      <ion-item>
        <ion-label>Known Allergies? (If yes, please Specify):</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsAllergies" name="IsAllergies"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="initConcentSaveRequest.IsAllergies">
        <ion-row>
          <ion-label color="dark">Known Allergies:</ion-label>
        </ion-row>
      </ion-item>

      <ion-row *ngIf="initConcentSaveRequest.IsAllergies">
        <ion-textarea rows="1" class="ion-text-start" type="text" [(ngModel)]="initConcentSaveRequest.KnownAllergies"
          name="KnownAllergies" #KnownAllergies="ngModel" required></ion-textarea>
      </ion-row>

      <ion-row
        *ngIf="initConcentForm.submitted && initConcentSaveRequest.IsAllergies && !initConcentSaveRequest.KnownAllergies">
        <ion-label class="error-msg">* Known Allergies are required.</ion-label>
      </ion-row>

      <ion-item>
        <ion-label>Any Menstrual Abnormalities? (If yes, please Specify):</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsMenstrualAbnormalities" name="IsMenstrualAbnormalities">
        </ion-checkbox>
      </ion-item>

      <ion-item *ngIf="initConcentSaveRequest.IsMenstrualAbnormalities">
        <ion-row>
          <ion-label *ngIf="initConcentSaveRequest.IsMenstrualAbnormalities" color="dark">Menstrual Abnormalities:
          </ion-label>
        </ion-row>
      </ion-item>

      <ion-row *ngIf="initConcentSaveRequest.IsMenstrualAbnormalities">
        <ion-textarea rows="1" class="ion-text-start" type="text"
          [(ngModel)]="initConcentSaveRequest.MenstrualAbnormalities" name="MenstrualAbnormalities"
          #MenstrualAbnormalities="ngModel" required></ion-textarea>
      </ion-row>

      <ion-row
        *ngIf="initConcentForm.submitted && initConcentSaveRequest.IsMenstrualAbnormalities && !initConcentSaveRequest.MenstrualAbnormalities">
        <ion-label class="error-msg">* Menstrual Abnormalities are required.</ion-label>
      </ion-row>

    </ion-list>

    <ion-text color="primary">
      <h4>Socio-Economics History</h4>
    </ion-text>

    <ion-grid>

      <ion-item>

        <ion-radio-group>

          <ion-row>

            <ion-col>
              <ion-label>Married:</ion-label>
              <ion-radio [value]="true" [(ngModel)]="initConcentSaveRequest.IsMarried" name="Married"></ion-radio>
            </ion-col>

            <ion-col>
              <ion-label>Unmarried:</ion-label>
              <ion-radio [value]="false" [(ngModel)]="initConcentSaveRequest.IsMarried" name="Unmarried"></ion-radio>
            </ion-col>

          </ion-row>

        </ion-radio-group>

      </ion-item>

      <ion-item>

        <ion-radio-group>

          <ion-row>

            <ion-col>
              <ion-label>Smoker:</ion-label>
              <ion-radio [value]="true" [(ngModel)]="initConcentSaveRequest.IsSmoker" name="Smoker"></ion-radio>
            </ion-col>

            <ion-col>
              <ion-label>Non Smoker:</ion-label>
              <ion-radio [value]="false" [(ngModel)]="initConcentSaveRequest.IsSmoker" name="NonSmoker"></ion-radio>
            </ion-col>

          </ion-row>

        </ion-radio-group>

      </ion-item>

      <ion-item>

        <ion-radio-group>

          <ion-row>

            <ion-col>
              <ion-label>Alcoholic:</ion-label>
              <ion-radio [value]="true" [(ngModel)]="initConcentSaveRequest.IsAlcoholic" name="Alcoholic"></ion-radio>
            </ion-col>

            <ion-col>
              <ion-label>Non Alcoholic:</ion-label>
              <ion-radio [value]="false" [(ngModel)]="initConcentSaveRequest.IsAlcoholic" name="NonAlcoholic">
              </ion-radio>
            </ion-col>

          </ion-row>

        </ion-radio-group>

      </ion-item>


    </ion-grid>

    <ion-text color="primary">
      <h4>General Skin Care Informaation</h4>
    </ion-text>

    <ion-grid>

      <ion-item>
        <ion-row>
          <ion-label color="dark">Skin Care Products and Brands curruntly use:</ion-label>
        </ion-row>
      </ion-item>
      <ion-row>
        <ion-textarea rows="1" class="ion-text-start" type="text"
          [(ngModel)]="initConcentSaveRequest.CurrentyUsedProducts" name="CurrentyUsedProducts">
        </ion-textarea>
      </ion-row>

      <ion-item>
        <ion-label>Any Skin Treatments had before? (If yes, please Specify):</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsAnySkinTreatment" name="AnySkinTreatments"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-row *ngIf="initConcentSaveRequest.IsAnySkinTreatment">
          <ion-label color="dark">Skin Treatment Info:</ion-label>
        </ion-row>
      </ion-item>
      <ion-row *ngIf="initConcentSaveRequest.IsAnySkinTreatment">
        <ion-textarea class="ion-text-start" type="text" [(ngModel)]="initConcentSaveRequest.PreviousSkinTreatments"
          name="PreviousSkinTreatments" #PreviousSkinTreatments="ngModel" required></ion-textarea>
      </ion-row>

      <ion-row
        *ngIf="initConcentForm.submitted && initConcentSaveRequest.IsAnySkinTreatment && !initConcentSaveRequest.PreviousSkinTreatments">
        <ion-label class="error-msg">* Previous Skin Treatments are required.</ion-label>
      </ion-row>

    </ion-grid>

    <ion-text color="primary">
      <h4>Agreements</h4>
    </ion-text>

    <ion-list>
      <ion-row>
        <ion-label color="dark">Customer Signature:</ion-label>
      </ion-row>
      <ion-row>
        <ion-img [src]="customerInfo?.SignatureURL"></ion-img>
      </ion-row>

      <ion-item>
        <ion-label>Customer Agreed:</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsClientSigned" name="custAgreed" #custAgreed="ngModel"
          required>
        </ion-checkbox>
      </ion-item>

      <ion-row *ngIf="initConcentForm.submitted && custAgreed.invalid">
        <ion-label class="error-msg">* Customer's Agreement is required.</ion-label>
      </ion-row>

      <ion-item-divider>
        <ion-label color="danger">
          <h4>* For Office Use Only</h4>
        </ion-label>
      </ion-item-divider>

      <ion-item-divider>
        <ion-label color="medium">Therapist's Agreement:</ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-searchbar name="empSearch" [(ngModel)]="empSearchText" (ionInput)="onSearchEmp($event)"></ion-searchbar>
        <ion-list *ngIf='showEmployeeList'>
          <ion-item (click)="setEmployeeSignature(emp)" *ngFor="let emp of empList">
            Name: {{ emp.EmpName }} | Id: {{emp.EmpNo}}
          </ion-item>
        </ion-list>
      </ion-row>

      <ion-row *ngIf="isEmpSignatureNA">
        <ion-label class="error-msg">* No signature is assigned to this user.</ion-label>
      </ion-row>

      <ion-row *ngIf="!isEmpSignatureNA">
        <ion-label color="dark">Therapist's Signature:</ion-label>
      </ion-row>
      <ion-row *ngIf="!isEmpSignatureNA">
        <ion-img [src]="empSignatureUrl"></ion-img>
      </ion-row>
      <ion-row *ngIf="initConcentForm.submitted && !isEmpSignatureNA && !empSignatureUrl">
        <ion-label class="error-msg">* Therapist's Signature is required.</ion-label>
      </ion-row>

      <ion-item *ngIf="!isEmpSignatureNA">
        <ion-label>Therapist Agreed:</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsTherapistSigned" name="empAgreed" #empAgreed="ngModel"
          required>
        </ion-checkbox>
      </ion-item>

      <ion-row *ngIf="initConcentForm.submitted && !initConcentSaveRequest.IsTherapistSigned">
        <ion-label class="error-msg">* Therapist's Agreement is required.</ion-label>
      </ion-row>


      <ion-item-divider>
        <ion-label color="medium">Medical Officer's Agreement:</ion-label>
      </ion-item-divider>

      <ion-row>
        <ion-searchbar name="userSearch" [(ngModel)]="userSearchText" (ionInput)="onSearchUser($event)"></ion-searchbar>
        <ion-list *ngIf='showUserList'>
          <ion-item (click)="setUserSignature(user)" *ngFor="let user of userList">
            Name: {{ user.EmpName }} | Id: {{user.EmpNo}}
          </ion-item>
        </ion-list>
      </ion-row>

      <ion-row *ngIf="isUserSignatureNA">
        <ion-label class="error-msg">* No signature is assigned to this user.</ion-label>
      </ion-row>

      <ion-row *ngIf="!isUserSignatureNA">
        <ion-label color="dark">Medical Officer's Signature:</ion-label>
      </ion-row>

      <ion-row *ngIf="!isUserSignatureNA">
        <ion-img [src]="userSignatureUrl"></ion-img>
      </ion-row>
      <ion-row *ngIf="initConcentForm.submitted && !isUserSignatureNA && !userSignatureUrl">
        <ion-label class="error-msg">* Medical Officer's Signature is required.</ion-label>
      </ion-row>

      <ion-item *ngIf="!isUserSignatureNA">
        <ion-label>Medical Officer Agreed:</ion-label>
        <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsDoctorSinged" name="userAgreed" #userAgreed="ngModel"
          required>
        </ion-checkbox>
      </ion-item>

      <ion-row *ngIf="initConcentForm.submitted && !initConcentSaveRequest.IsDoctorSinged">
        <ion-label class="error-msg">* Medical Officer's Agreement is required.</ion-label>
      </ion-row>

      <ion-item-divider>

      </ion-item-divider>

      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" color="primary" expand="block">Save</ion-button>
        </ion-col>
      </ion-row>

    </ion-list>

  </form>

</ion-content>