<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="ion-no-border header-toolbar">
    <!-- <ion-buttons class="ion-padding-start" color="dark" slot="start">
      <ion-back-button icon="md-arrow-back" text="" defaultHref="/customer-search"></ion-back-button>
    </ion-buttons> -->

    <ion-button slot="start" (click)="onBackButtonClick()" type="button" size="large" expand="block"
      class="ion-padding-start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title color="light" class="title ion-text-center ion-padding-vertical">Initial Assessment Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>

  <ion-slides no-padding class="slide-wrapper" [options]="slideOptions" class="swiper-no-swiping" #slides>

    <ion-slide no-padding>

      <div class="slide ion-padding-horizontal">
        <ion-text color="primary" no-padding class="ion-text-start">
          <h4>Basic information</h4>
        </ion-text>

        <form (ngSubmit)="swipeNext()" #initConcentFormSlideOne="ngForm">

          <ion-item class="ion-no-padding">
            <ion-label position="stacked" color="secondary">Customer Id</ion-label>
            <ion-input color="medium" type="text" value="{{customerInfo?.CustomerId}}" name="CustomerId" readonly>
            </ion-input>
          </ion-item>

          <ion-item class="ion-no-padding ion-margin-top">
            <ion-label position="stacked" color="secondary">Full Name</ion-label>
            <ion-input color="medium" type="text" value="{{customerInfo?.FullName}}" name="FullName" readonly>
            </ion-input>
          </ion-item>

          <ion-item class="ion-no-padding ion-margin-top">
            <ion-label position="stacked" color="secondary">Gender</ion-label>
            <ion-input color="medium" *ngIf="customerInfo?.Gender == 'M' || customerInfo?.Gender == 'Male'" type="text"
              value="Male" name="Gender" readonly></ion-input>
            <ion-input color="medium" *ngIf="customerInfo?.Gender == 'F' || customerInfo?.Gender == 'Female'"
              type="text" value="Female" name="Gender" readonly></ion-input>
          </ion-item>

          <ion-item class="ion-no-padding ion-margin-top">
            <ion-label position="stacked" color="secondary">Email</ion-label>
            <ion-input color="medium" type="text" value="{{customerInfo?.Email}}" name="Email" readonly>
            </ion-input>
          </ion-item>

          <ion-item class="ion-no-padding ion-margin-top">
            <ion-label position="stacked" color="secondary">Address</ion-label>
            <ion-textarea color="medium" rows="1" type="text" value="{{customerInfo?.Address}}" name="Address" readonly>
            </ion-textarea>
          </ion-item>

          <ion-button type="submit" size="large" expand="block" class="slide-btn" color="primary">
            Next
            <ion-icon slot="end" ios="ios-arrow-forward"></ion-icon>
          </ion-button>

        </form>

      </div>

    </ion-slide>

    <ion-slide no-padding>

      <div class="slide ion-padding-horizontal">
        <ion-text color="primary" no-padding class="ion-text-start">
          <h4>Medical History</h4>
        </ion-text>

        <form (ngSubmit)="initConcentFormSlideTwo.form.valid && swipeNext()" #initConcentFormSlideTwo="ngForm">

          <ion-list no-padding>

            <ion-item class="list-item" no-padding>
              <ion-label color="primary">Diabetes:</ion-label>
              <ion-checkbox no-margin-end [(ngModel)]="initConcentSaveRequest.IsDiabetes" name="IsDiabetes">
              </ion-checkbox>
            </ion-item>

            <ion-item class="list-item" no-padding>
              <ion-label color="primary">Hypertension:</ion-label>
              <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsHypertension" name="IsHypertension"></ion-checkbox>
            </ion-item>

            <ion-item class="list-item" no-padding>
              <ion-label color="primary">Heart disease:</ion-label>
              <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsHeartDisease" name="IsHeartDisease"></ion-checkbox>
            </ion-item>

            <ion-item class="list-item" no-padding>
              <ion-label color="primary">Asthma:</ion-label>
              <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsAsthma" name="IsAsthma"></ion-checkbox>
            </ion-item>

            <ion-item class="list-item" no-padding>
              <ion-label color="primary">Sinusitis:</ion-label>
              <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsSinusitis" name="IsSinusitis"></ion-checkbox>
            </ion-item>

            <ion-item class="list-item" no-padding>
              <ion-label color="primary">Hyperlipidemia:</ion-label>
              <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsHyperlipidemia" name="IsHyperlipidemia">
              </ion-checkbox>
            </ion-item>

            <ion-item class="list-item" no-padding>
              <ion-label color="primary">Other:</ion-label>
              <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsOther" name="IsOther"></ion-checkbox>
            </ion-item>

            <ion-item class="ion-padding-bottom" no-padding *ngIf="initConcentSaveRequest.IsOther">
              <ion-label position="stacked" color="secondary">If yes, please specify</ion-label>
              <ion-textarea rows="1" class="ion-text-start" type="text"
                [(ngModel)]="initConcentSaveRequest.OtherDiseases" name="OtherDiseases" #OtherDiseases="ngModel"
                required></ion-textarea>
              <ion-label
                *ngIf="initConcentFormSlideTwo.submitted && initConcentSaveRequest.IsOther && !initConcentSaveRequest.OtherDiseases"
                class="error-msg" color="danger">* Other diseases are required.</ion-label>
            </ion-item>


            <ion-item no-padding class="list-item">
              <ion-label color="primary">Surgical history?</ion-label>
              <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsSurgical" name="IsSurgical"></ion-checkbox>
            </ion-item>

            <ion-item class="ion-padding-bottom" no-padding *ngIf="initConcentSaveRequest.IsSurgical">
              <ion-label position="stacked" color="secondary">If yes, please specify</ion-label>
              <ion-textarea rows="1" class="ion-text-start" type="text"
                [(ngModel)]="initConcentSaveRequest.SurgicalHistory" name="SurgicalHistory" #SurgicalHistory="ngModel"
                required></ion-textarea>
              <ion-label color="danger"
                *ngIf="initConcentFormSlideTwo.submitted && initConcentSaveRequest.IsSurgical && !initConcentSaveRequest.SurgicalHistory"
                class="error-msg">* Surgical history is required.</ion-label>
            </ion-item>

            <ion-item class="ion-padding-vertical" no-padding>
              <ion-label position="stacked" color="primary">Current medication:</ion-label>
              <ion-textarea rows="1" class="ion-text-start" type="text"
                [(ngModel)]="initConcentSaveRequest.CurrentMedication" name="CurrentMedication"></ion-textarea>
            </ion-item>

            <ion-item no-padding class="list-item">
              <ion-label color="primary">Known allergies?</ion-label>
              <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsAllergies" name="IsAllergies"></ion-checkbox>
            </ion-item>

            <ion-item class="ion-padding-bottom" no-padding *ngIf="initConcentSaveRequest.IsAllergies">
              <ion-label position="stacked" color="secondary">If yes, please specify</ion-label>
              <ion-textarea rows="1" class="ion-text-start" type="text"
                [(ngModel)]="initConcentSaveRequest.KnownAllergies" name="KnownAllergies" #KnownAllergies="ngModel"
                required></ion-textarea>
              <ion-label
                *ngIf="initConcentFormSlideTwo.submitted && initConcentSaveRequest.IsAllergies && !initConcentSaveRequest.KnownAllergies"
                class="error-msg" color="danger">* Known allergies are required.</ion-label>
            </ion-item>

            <ion-item no-padding class="list-item">
              <ion-label color="primary">Any menstrual abnormalities?</ion-label>
              <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsMenstrualAbnormalities"
                name="IsMenstrualAbnormalities">
              </ion-checkbox>
            </ion-item>

            <ion-item class="ion-padding-bottom" no-padding *ngIf="initConcentSaveRequest.IsMenstrualAbnormalities">
              <ion-label position="stacked" color="secondary">If yes, please specify</ion-label>
              <ion-textarea rows="1" class="ion-text-start" type="text"
                [(ngModel)]="initConcentSaveRequest.MenstrualAbnormalities" name="MenstrualAbnormalities"
                #MenstrualAbnormalities="ngModel" required></ion-textarea>
              <ion-label
                *ngIf="initConcentFormSlideTwo.submitted && initConcentSaveRequest.IsMenstrualAbnormalities && !initConcentSaveRequest.MenstrualAbnormalities"
                class="error-msg" color="danger">* Menstrual abnormalities are required.</ion-label>
            </ion-item>
          </ion-list>

          <ion-button type="submit" size="large" expand="block" class="slide-btn" color="primary">
            Next
            <ion-icon slot="end" ios="ios-arrow-forward"></ion-icon>
          </ion-button>

        </form>

      </div>

    </ion-slide>

    <ion-slide>

      <div class="slide ion-padding-horizontal">
        <ion-text color="primary" no-padding class="ion-text-start">
          <h4>Socio-Economics History</h4>
        </ion-text>

        <form (ngSubmit)="initConcentFormSlideThree.form.valid && swipeNext()" #initConcentFormSlideThree="ngForm">

          <ion-item lines="none" no-padding>
            <ion-radio-group>
              <ion-grid>
                <ion-row>
                  <ion-col size="5">
                    <ion-item lines="none" no-padding>
                      <ion-label class="radio-btn-label" color="secondary">Married</ion-label>
                      <ion-radio [value]="true" [(ngModel)]="initConcentSaveRequest.IsMarried" name="Married"
                        slot="start" mode="md" color="secondary"></ion-radio>
                    </ion-item>
                  </ion-col>

                  <ion-col size="7">
                    <ion-item lines="none" no-padding>
                      <ion-label class="radio-btn-label" color="secondary">Unmarried</ion-label>
                      <ion-radio [value]="false" [(ngModel)]="initConcentSaveRequest.IsMarried" name="Unmarried"
                        mode="md" slot="start" color="secondary">
                      </ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-radio-group>
          </ion-item>

          <ion-item lines="none" no-padding>
            <ion-radio-group>
              <ion-grid>
                <ion-row>
                  <ion-col size="5">
                    <ion-item lines="none" no-padding>
                      <ion-label class="radio-btn-label" color="secondary">Smoker</ion-label>
                      <ion-radio [value]="true" [(ngModel)]="initConcentSaveRequest.IsSmoker" name="Smoker" mode="md"
                        slot="start" color="secondary"></ion-radio>
                    </ion-item>
                  </ion-col>

                  <ion-col size="7">
                    <ion-item lines="none" no-padding>
                      <ion-label class="radio-btn-label" color="secondary">Non Smoker</ion-label>
                      <ion-radio [value]="false" [(ngModel)]="initConcentSaveRequest.IsSmoker" name="NonSmoker"
                        mode="md" slot="start" color="secondary">
                      </ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-radio-group>
          </ion-item>

          <ion-item lines="none" no-padding>
            <ion-radio-group>
              <ion-grid>
                <ion-row>
                  <ion-col size="5">
                    <ion-item lines="none" no-padding>
                      <ion-label class="radio-btn-label" color="secondary">Alcoholic</ion-label>
                      <ion-radio [value]="true" [(ngModel)]="initConcentSaveRequest.IsAlcoholic" name="Alcoholic"
                        mode="md" slot="start" color="secondary">
                      </ion-radio>
                    </ion-item>
                  </ion-col>

                  <ion-col size="7">
                    <ion-item lines="none" no-padding>
                      <ion-label class="radio-btn-label" color="secondary">Non Alcoholic</ion-label>
                      <ion-radio [value]="false" [(ngModel)]="initConcentSaveRequest.IsAlcoholic" name="NonAlcoholic"
                        mode="md" slot="start" color="secondary">
                      </ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-radio-group>
          </ion-item>

          <ion-text color="primary">
            <h4>General Skin Care Information</h4>
          </ion-text>

          <ion-item class="ion-padding-bottom" no-padding>
            <ion-label position="stacked" color="primary">Skin care products and brands currently use</ion-label>
            <ion-textarea rows="1" class="ion-text-start" type="text"
              [(ngModel)]="initConcentSaveRequest.CurrentyUsedProducts" name="CurrentyUsedProducts">
            </ion-textarea>
          </ion-item>

          <ion-item no-padding lines="none">
            <ion-label color="primary">Any skin treatments had before?</ion-label>
            <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsAnySkinTreatment" name="AnySkinTreatments">
            </ion-checkbox>
          </ion-item>

          <ion-item no-padding *ngIf="initConcentSaveRequest.IsAnySkinTreatment">
            <ion-label position="stacked" color="secondary">If yes, please specify</ion-label>
            <ion-textarea rows="1" class="ion-text-start" type="text"
              [(ngModel)]="initConcentSaveRequest.PreviousSkinTreatments" name="PreviousSkinTreatments"
              #PreviousSkinTreatments="ngModel" required></ion-textarea>
          </ion-item>
          <ion-label
            *ngIf="initConcentFormSlideThree.submitted && initConcentSaveRequest.IsAnySkinTreatment && !initConcentSaveRequest.PreviousSkinTreatments"
            color="danger" class="error-msg">* Previous Skin Treatments are required.</ion-label>

          <ion-button type="submit" size="large" expand="block" class="slide-btn" color="primary">
            Next
            <ion-icon slot="end" ios="ios-arrow-forward"></ion-icon>
          </ion-button>

        </form>

      </div>

    </ion-slide>

    <ion-slide>

      <div class="slide ion-padding-horizontal">
        <ion-text color="primary" no-padding class="ion-text-start">
          <h4>Agreements</h4>
        </ion-text>

        <form (ngSubmit)="initConcentFormSlideFour.form.valid && onAddNewInitConcent()"
          #initConcentFormSlideFour="ngForm">

          <ion-item no-padding lines="none">
            <ion-label position="stacked" color="primary">Customer signature</ion-label>
            <ion-img [src]="customerInfo?.SignatureURL"></ion-img>
          </ion-item>

          <ion-item no-padding lines="none">
            <ion-label color="primary">Customer agreed:</ion-label>
            <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsClientSigned" name="custAgreed" #custAgreed="ngModel"
              required>
            </ion-checkbox>
          </ion-item>

          <ion-label color="danger" class="error-msg" *ngIf="initConcentFormSlideFour.submitted && custAgreed.invalid">*
            Customer's Agreement is required.</ion-label>

          <ion-item no-padding></ion-item>

          <ion-text class="ion-padding-top" color="danger">
            <h6>* For Office Use Only</h6>
          </ion-text>

          <ion-text color="secondary" no-padding class="ion-text-start">
            <h5>Therapist's Agreement:</h5>
          </ion-text>

          <ion-grid no-padding class="search-grid">
            <ion-row>
              <ion-col>
                <ion-searchbar no-padding name="empSearch" [(ngModel)]="empSearchText" (ionInput)="onSearchEmp($event)">
                </ion-searchbar>
                <ion-list *ngIf='showEmployeeList'>
                  <ion-item class="ion-padding-start" lines="none" no-padding *ngFor="let emp of empList">
                    <ion-chip (click)="setEmployeeSignature(emp)">Name: {{ emp.EmpName }} | Id: {{emp.EmpNo}}</ion-chip>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-label color="danger" class="error-msg" *ngIf="isEmpSignatureNA">* No signature is assigned to this user.
          </ion-label>

          <ion-item no-padding lines="none" *ngIf="!isEmpSignatureNA">
            <ion-label position="stacked" color="primary">Therapist's signature:</ion-label>
            <ion-img [src]="empSignatureUrl"></ion-img>
          </ion-item>

          <ion-label color="danger" class="ion-padding-bottom error-msg"
            *ngIf="initConcentFormSlideFour.submitted && !isEmpSignatureNA && !empSignatureUrl">
            * Therapist's Signature is required.</ion-label>

          <ion-item no-padding lines="none" *ngIf="!isEmpSignatureNA">
            <ion-label color="primary">Therapist Agreed:</ion-label>
            <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsTherapistSigned" name="empAgreed" #empAgreed="ngModel"
              required>
            </ion-checkbox>
          </ion-item>

          <ion-label color="danger" class="error-msg"
            *ngIf="initConcentFormSlideFour.submitted && !initConcentSaveRequest.IsTherapistSigned">* Therapist's
            Agreement is
            required.</ion-label>

          <ion-text color="secondary" no-padding class="ion-text-start ion-padding-top">
            <h5>Medical Officer's Agreement:</h5>
          </ion-text>

          <ion-grid no-padding class="search-grid">
            <ion-row>
              <ion-col>
                <ion-searchbar no-padding name="userSearch" [(ngModel)]="userSearchText"
                  (ionInput)="onSearchUser($event)">
                </ion-searchbar>
                <ion-list *ngIf='showUserList'>
                  <ion-item class="ion-padding-start" lines="none" no-padding *ngFor="let user of userList">
                    <ion-chip (click)="setUserSignature(user)">Name: {{ user.EmpName }} | Id: {{user.EmpNo}}</ion-chip>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-label color="danger" class="error-msg" *ngIf="isUserSignatureNA">* No signature is assigned to this user.
          </ion-label>

          <ion-item no-padding lines="none" *ngIf="!isUserSignatureNA">
            <ion-label position="stacked" color="primary">Medical officer's signature</ion-label>
            <ion-img [src]="userSignatureUrl"></ion-img>
          </ion-item>
          <ion-label color="danger" class="ion-padding-bottom  error-msg"
            *ngIf="initConcentFormSlideFour.submitted && !isUserSignatureNA && !userSignatureUrl">* Medical officer's
            signature
            is required.</ion-label>

          <ion-item no-padding lines="none" *ngIf="!isUserSignatureNA">
            <ion-label color="primary">Medical officer agreed:</ion-label>
            <ion-checkbox [(ngModel)]="initConcentSaveRequest.IsDoctorSinged" name="userAgreed" #userAgreed="ngModel"
              required>
            </ion-checkbox>
          </ion-item>
          <ion-label color="danger" class="error-msg"
            *ngIf="initConcentFormSlideFour.submitted && !initConcentSaveRequest.IsDoctorSinged">
            * Medical Officer's Agreement is required.</ion-label>

          <ion-button type="submit" size="large" expand="block" class="slide-btn" color="primary">
            Complete
            <ion-icon slot="end" ios="ios-arrow-forward"></ion-icon>
          </ion-button>

        </form>

      </div>

    </ion-slide>
  </ion-slides>

</ion-content>