ion-header {
  &::after {
      background: none;
  }
}

.header-toolbar {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  .title {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
  }

  ion-button {
    --box-shadow: none;
  }
}

ion-item {
  --background: transparent;
  --border-color: var(--ion-color-primary, #FF4380);
}

form {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
}

.search {
  position: relative;
  z-index: 2;
}

.search-btn {
  --background: #FF759D;
  letter-spacing: 2px;
  width: 170px;
  align-self: center;
}

.error-msg {
  font-size: 11px;
}

.reset-text {
  font-size: 12px;
  letter-spacing: 1px;

  span {
    text-decoration: underline;
  }
}

.search-header {
  margin-left: 5px;
  margin-right: 5px;

  ion-label {
    font-size: 14px;
  }
}

.page-footer {
  position: fixed;
  height: 40%;
  z-index: 1;
  bottom: 0;

  &:before {
    position: absolute;
    content: '';
    background: url('../../../assets/img/search_engine.svg') no-repeat center;
    opacity: 0.1;
    background-size: cover;
    width: 100%;
    height: 110%;
    top: 10%;
    left: 0;
    z-index: -1;
  }
}