.header-toolbar {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  .title {
    font-weight: 400;
    font-size: 16px;
  }

  ion-button {
    --box-shadow: none;
  }
}

.sign-pad-wrapper {
  width: calc(100% - 10px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
  margin: 5px;
}

ion-item {
  --background: transparent;
  --border-color: var(--ion-color-primary, #FF4380);
}

.save-btn {
  letter-spacing: 2px;
  width: 170px;
  align-self: center;
  display: flex;
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
}

.error-msg {
  text-align: left;
  font-size: 12px;
}