<ion-header class="ion-no-border">
    <ion-toolbar color="primary" class="ion-no-border header-toolbar">
        <ion-buttons class="ion-padding-start" color="dark" slot="start">
            <ion-back-button icon="md-arrow-back" text="" defaultHref="/doctor-customer-search"></ion-back-button>
        </ion-buttons>

        <ion-title color="light" class="title ion-text-center ion-padding-vertical">Treatment History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>

            <ion-col>
                <div class="col">Transaction Date</div>
            </ion-col>
            <ion-col>
                <div class="col">Total Amount</div>
            </ion-col>
            <ion-col>
                <div class="col">SM Name</div>
            </ion-col>
            <ion-col>
                <div class="col">Images</div>
            </ion-col>

        </ion-row>

        <!-- *ngFor="let row of customerInfo" -->
        <ion-row>

            <ion-col>
                <div class="col">{{treatmentHistory.RegNo}}</div>
            </ion-col>
            <ion-col>
                <div class="col">{{treatmentHistory.FullName}}</div>
            </ion-col>
            <ion-col>
                <div class="col">{{treatmentHistory.Mobile}}</div>
            </ion-col>
            <ion-col>
                <div class="col">Images</div>
            </ion-col>

        </ion-row>

    </ion-grid>
</ion-content>