<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title color="primary">Customer Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="cusRegForm.form.valid && onAddNewCustomer()" #cusRegForm="ngForm">

    <ion-grid>

      <!-- <ion-row>
        <ion-label>Customer Id:</ion-label>
      </ion-row>
      <ion-row>
        <ion-input maxlength="10" type="text" [(ngModel)]="customerInfo.CustomerId" name="CustomerId"
          #CustomerId="ngModel" required>
        </ion-input>
      </ion-row>
      <ion-row *ngIf="cusRegForm.submitted && CustomerId.invalid">
        <ion-label class="error-msg">* Customer Id is required.</ion-label>
      </ion-row>
      <ion-row *ngIf="cusRegForm.submitted && isCustomerIdExist">
        <ion-label class="error-msg">* Customer Id is already exist in the Database.</ion-label>
      </ion-row> -->

      <ion-row>
        <ion-label>Full Name:</ion-label>
      </ion-row>
      <ion-row>
        <ion-input maxlength="250" type="text" [(ngModel)]="customerInfo.FullName" name="FullName" #FullName="ngModel"
          required>
        </ion-input>
      </ion-row>
      <ion-row *ngIf="cusRegForm.submitted && FullName.invalid">
        <ion-label class="error-msg">* FullName is required.</ion-label>
      </ion-row>

      <ion-row>
        <ion-label>Mobile:</ion-label>
      </ion-row>
      <ion-row>
        <ion-input maxlength="15" type="number" [(ngModel)]="customerInfo.MobileNo" name="MobileNo" #MobileNo="ngModel"
          required>
        </ion-input>
      </ion-row>
      <ion-row *ngIf="cusRegForm.submitted && MobileNo.invalid">
        <ion-label class="error-msg">* Mobile Number is required.</ion-label>
      </ion-row>

      <ion-row>
        <ion-label>Email:</ion-label>
      </ion-row>
      <ion-row>
        <ion-input maxlength="50" type="email" [(ngModel)]="customerInfo.Email" name="Email" #Email="ngModel" email
          required>
        </ion-input>
      </ion-row>
      <ion-row *ngIf="cusRegForm.submitted && Email.invalid">
        <ion-label *ngIf="Email.errors.required" class="error-msg">* Email is required.</ion-label>
        <ion-label *ngIf="Email.errors.email" class="error-msg">* Email is invalid.</ion-label>
      </ion-row>

      <ion-row>
        <ion-label>Address:</ion-label>
      </ion-row>
      <ion-row>
        <ion-textarea maxlength="350" rows="1" type="text" [(ngModel)]="customerInfo.Address" name="Address"
          #Address="ngModel" required>
        </ion-textarea>
      </ion-row>
      <ion-row *ngIf="cusRegForm.submitted && Address.invalid">
        <ion-label class="error-msg">* Address is required.</ion-label>
      </ion-row>

      <!-- <ion-row>
        <ion-label>NIC:</ion-label>
      </ion-row>
      <ion-row>
        <ion-input type="text" [(ngModel)]="customerInfo.NIC" name="NIC" #NIC="ngModel" required>
        </ion-input>
      </ion-row>
      <ion-row *ngIf="cusRegForm.submitted && NIC.invalid">
        <ion-label class="error-msg">* NIC is required.</ion-label>
      </ion-row> -->

      <ion-row>
        <ion-label>Profession:</ion-label>
      </ion-row>
      <ion-row>
        <ion-input maxlength="50" type="text" [(ngModel)]="customerInfo.Profession" name="Profession"></ion-input>
      </ion-row>

      <ion-item-divider>

      </ion-item-divider>

      <ion-item>
        <ion-radio-group [(ngModel)]="customerInfo.Gender" name="gender" #gender="ngModel" required>
          <ion-row>
            <ion-col>
              <ion-label>Female:</ion-label>
              <ion-radio [value]="'Female'"></ion-radio>
            </ion-col>

            <ion-col>
              <ion-label>Male:</ion-label>
              <ion-radio [value]="'Male'"></ion-radio>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-item>

      <ion-row *ngIf="cusRegForm.submitted && gender.invalid">
        <ion-label class="error-msg">* Gender is required.</ion-label>
      </ion-row>

      <ion-item-divider>

      </ion-item-divider>

      <ion-row>
        <ion-label>Signature:</ion-label>
      </ion-row>
      <ion-row>
        <signature-pad id="signature" [options]="signaturePadOptions" (onEndEvent)="drawComplete()">
        </signature-pad>
      </ion-row>
      <ion-row>
        <ion-button type="button" color="danger" (click)="drawClear()" expand="block">Clear</ion-button>
      </ion-row>

      <ion-row *ngIf="cusRegForm.submitted && !customerInfo.SignatureURL">
        <ion-label class="error-msg">* Signature is required.</ion-label>
      </ion-row>

      <ion-item-divider>

      </ion-item-divider>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">Save</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>
</ion-content>