<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="ion-no-border header-toolbar">
    <!-- <ion-buttons class="ion-padding-start" color="dark" slot="start">
      <ion-back-button icon="md-arrow-back" text="" defaultHref="/doctor-menu"></ion-back-button>
    </ion-buttons> -->

    <ion-button slot="start" (click)="onBackButtonClick()" type="button" size="large" expand="block"
      class="ion-padding-start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title color="light" class="title ion-text-center ion-padding-vertical">Treatment History List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>

  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <mat-accordion class="ion-margin-bottom" *ngFor="let data of treatmentDates">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

            <mat-expansion-panel-header>

              <mat-panel-title>
                <h6 color="primary">{{ data.Date | date }}</h6>
              </mat-panel-title>

              <mat-panel-description>
                <ion-chip color="primary" (click)="onDateClick(data.Tduid)">
                  <ion-label color="primary">View details</ion-label>
                </ion-chip>
              </mat-panel-description>

            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item class="ion-no-padding">
                    <ion-label position="stacked" color="secondary">Doctor's note</ion-label>
                    <ion-textarea rows="1" color="medium" type="text" value="{{data.DoctorNote}}" name="DoctorNote"
                      readonly>
                    </ion-textarea>
                  </ion-item>

                  <ion-item class="ion-no-padding ion-margin-top">
                    <ion-label position="stacked" color="secondary">Appointment Id</ion-label>
                    <ion-input color="medium" type="text" value="{{data.DoctorAppointmentId}}"
                      name="DoctorAppointmentId" readonly>
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

          </mat-expansion-panel>
        </mat-accordion>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>